

.container-fluid {
    background-image: url(https://i.imgur.com/55jRn7G.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-size:100% 100%;   
    padding-bottom: 200px;
    
    
  

}


form {
    
     margin-top: 100px;

    
    padding: 10px;


  

    border:solid 2px;
    border-radius:20px;
    border-color: gray;
    
}

.login {
    text-align: center;
    font-size: 25px;
}

.form-control {
    border: 1px solid #76E27C;
}

.bg-color {
    background-color: white;


}

p {
    font-size: 12px;
}
a {
    color: #76E27C;
}


.btn {
    margin-left: 35%;
    background-color: #22C401;

    width: 150px;
    font-weight: bold;


}
