

.container-fluid {
    background: url('https://i.imgur.com/55jRn7G.jpg') no-repeat fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100vh;

}


.form {
    margin-top: 180px;
    padding: 10px;
    border:solid 2px;
    border-radius:20px;
    border-color: gray;
}

.login {
    text-align: center;
    font-size: 25px;
}

.form-control {
    border: 1px solid #76E27C;
}

.bg-color {
    background-color: white;
}

p {
    font-size: 12px;
}
a {
    color: #76E27C;
    cursor: pointer;
}


.btn {
   
    background-color: #22C401;
    color: #ffffff;
    width: 150px;
    font-weight: bold;
}
