<div class="container-fluid">
  <div class="row">
    <div class="form col-md-6">
        <div class="bg-color d-flex flex-column justify-content-center align-items-center mt-5 pt-5">

          <div class="col-md-9">
            <div class="form-group">
              <p class="signup ml-3">Sign Up</p>
              <label class="" for="ExampleInputNome2">Nome</label>
              <input type="text" class="form-control" id="nome" aria-describedby="emailHelp"
              placeholder="Digite seu nome" [(ngModel)]='usuario.nome'>
              </div>
          </div>

          <div class="col-md-9">
            <div class="form-group">
              <label class="" for="imagem">Imagem</label>
              <input type="text" class="form-control" id="imagem"
              placeholder="Insira o link de sua imagem" [(ngModel)]='usuario.imagem'>
              </div>
          </div>


          <div class="col-md-9">
            <div class="form-group">
              <label for="ExampleInputEmail2">E-mail</label>
              <input type="text" class="form-control" id="email" aria-describedby="emailHelp"
              placeholder="Digite seu email" [(ngModel)]='usuario.email'>
            </div>
          </div>


          <div class="col-md-9">
            <div class="form-group">
              <label for="ExampleInputPassword2">Senha</label>
              <input type="password" class="form-control" id="senha" aria-describedby="emailHelp"
              placeholder="Digite sua senha" (input)='conferirSenha($event)' value='{{senha}}'>
            </div>
          </div>


          <div class="col-md-9">
            <div class="form-group">
              <label for="ExampleInputPassword2">Confirme a senha</label>
              <input type="password" class="form-control" id="senha2" aria-describedby="emailHelp"
              placeholder="Digite sua senha" [(ngModel)]='usuario.senha'>
            </div>
          </div>

        </div>


        <div class="row mt-7 mb-7">
          <button type="submit" class="btn btn-sucsess" (click)='cadastrar()'>Cadastrar</button>
        </div>


    </div>

    <div class="col-md-6 m-0 background"></div>

  </div>

</div>
