<div class="container-fluid">
   <div class="row">
    <div class="col-md-6"><div class="row">
        <div class="mg1">
            <h1 class="16px">Sign Up</h1>
        </div>
    </div>

    <div class="col-md-6 mg">
        <div class="form-group">
            <label class="text-monospace" for="nome">Nome</label>
            <input type="text" class="form-control" id="nome" aria-describedby="emailHelp" 
            placeholder="Digite o seu nome">
        </div>
    </div>

    <div class="col-md-6 mg">
        <div class="form-group">
            <label class="text-monospace" for="email">E-mail</label>
            <input type="text" class="form-control" id="email" aria-describedby="emailHelp" 
            placeholder="Digite o seu E-mail">
        </div>
    </div>

    <div class="col-md-6 mg">
        <div class="form-group">
            <label class="text-monospace" for="senha">Senha</label>
            <input type="text" class="form-control" id="senha" aria-describedby="emailHelp" 
            placeholder="Digite a sua senha">
        </div>
    </div>

    <div class="col-md-6 mg">
        <div class="form-group">
            <label class="text-monospace" for="senha2">Confirme a senha</label>
            <input type="text" class="form-control" id="senha2" aria-describedby="emailHelp" 
            placeholder="Digite novamente a sua senha">
        </div>
    </div>

    <div class="row mt-5 mb-5">
        <button type="submit" class="mgb">Cadastrar</button>
    </div></div>   
    <div class="col-md-6 m-0 background"></div>
   </div>

</div>
    