<div class="container-fluid">
   <div class="row">
        <form class="col-md-4">
            <div class="">
                <form class="bg-color .rounded-sm">
                        
                    <div class="col-md-9"> 
                        <div class="form-group">
                            <p class="signup">Sign Up</p>
                            <label class="" for="ExampleInputNome2">Nome</label>
                            <input type="text" class="form-control" id="nome" aria-describedby="emailHelp" 
                            placeholder="">
                        </div>
                    </div>
                

                    <div class="col-md-9">
                        <div class="form-group">
                            <label class="" for="ExampleInputEmail2">E-mail</label>
                            <input type="text" class="form-control" id="email" aria-describedby="emailHelp" 
                            placeholder="">
                        </div>
                    </div>
                

                    <div class="col-md-9">  
                        <div class="form-group">
                            <label class="" for="ExampleInputPassword2">Senha</label>
                            <input type="text" class="form-control" id="senha" aria-describedby="emailHelp" 
                            placeholder="">
                        </div>
                    </div>
                

                    <div class="col-md-9">
                        <div class="form-group">
                            <label class="" for="ExampleInputPassword2">Confirme a senha</label>
                            <input type="text" class="form-control" id="senha2" aria-describedby="emailHelp" 
                            placeholder="">
                        </div>
                    </div>
                </form>    
                
                   
                <div class="row mt-7 mb-7">
                    <button type="submit" class="btn btn-primary">Cadastrar</button>
                </div>
                    
            </div>   
        
        </form>

        <div class="col-md-6 m-0 background"></div>

    </div>

</div>
    