  <div class="borda">
    <button class="btn btn-outline">
        <fa-icon [icon] = "faUserCog" class="icons text-white"></fa-icon>
    </button>
    <div class="d-flex justify-content-center"> 

        <img class=" imgAvatar card-img-top rounded-circle w-75" src="https://cdn4.iconfinder.com/data/icons/avatars-xmas-giveaway/128/girl_avatar_child_kid-512.png" alt="Imagem de capa do card">
    </div>
    <div class="card border-0" style="width: 18rem;">
        
        
        <div class="card-body">
          <h5 class="card-title text-center text-monospace">Berenice Fulana</h5>
          <p class="card-text text-center text-monospace">berenice.fulana@gmail.com</p>
          
          <button class="btn btn-outline ">
            <fa-icon [icon] = "faPlusSquare" class="text-greenyellow">
                <a href="#" class="btn btn-outline "></a>
            </fa-icon> Novo tema
          </button>
          
          <button class="btn btn-outline ">
            <fa-icon [icon] = "faListAlt" class="text-green">
                <a href="#" class="btn btn-outline "></a>
            </fa-icon> Nova postagem
          </button>
          
        </div>
      </div>
  </div>