@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');


h5 {
<<<<<<< HEAD
=======
  
>>>>>>> 4c0156103b4683dabb306b862aa1fd75e1264320
  font-family: 'Space Mono', 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 24px;
  
  font-weight: bold;
  color: #ffffff;
}

label {
  font-weight: bold;
  color: #ffffff;
}

.borderInput {
  border: 1px solid  #76E27C;
}

.bgModal {
  background: rgba(2, 129, 116, .8);
}

.bgModal2 {
  background: rgba(2, 129, 116, .1);
  border: none;
}
<<<<<<< HEAD
    /* font-family: 'space mono';
    font-size: 24px;
    color: #ffffff;
    margin-left: 20%;
} */
=======

>>>>>>> 4c0156103b4683dabb306b862aa1fd75e1264320

.bgModal {
    background: rgba(2, 129, 116, .8);
}

.bgModal2 {
    background: rgba(2, 129, 116, .1);
    border: none;
}
.form-control {
    border: 1px solid #76E27C;
}

.btn {
    margin-left: 35%;
    background-color: #22C401;
    color: #ffffff;
    width: 150px;
    font-weight: bold;

    margin-right: 40%;
}

.modal-body {
    margin-left: 10%;
}
