<div class="container w-100">
    <div class="row   mt-5">
        <div class="col-md-12">
            <h1 class="texto text-center text-success ">Sobre nós</h1>
        </div>
        



    </div>


    <div class="row mt-4 w-100 mb-4">

        <div class="col-md-12">

            <p class="justify texto text-success f1 text-center" >
                A ReciclaMente é um projeto sem fins lucrativos que  foi criado com o intuito de reunir pessoas preocupadas em preservar a natureza e ser sustentável. O meio ambiente é constantemente impactado negativamente, mas juntos podemos transformar num aspecto positivo com conscientização em relação aos usos, consumo e descarte de produtos. Além de mostrar a população como é importante cuidar do meio que vivemos, pois só assim conseguiremos preservar nossos rios, matas e recursos naturais.
                O maior causador destes malefícios ao meio ambiente é o próprio ser humano. Descartando produtos nocivos no meio ambiente em locais inadequados e de forma incorreta, práticas e hábitos cotidianos que vêm causando de forma encadeada malefícios a todos os seres vivos.
                Nossa motivação é fazer com que os usuários desta rede social conscientizem mais pessoas a serem responsáveis ambientalmente, desenvolva o pensamento sustentável e torne isso como prática do seu dia a dia.



            </p>
        </div>



    </div>
</div>
    <div class="parallax"></div>

    <!--jumotron inicio-->
    <div class="jumbotron jumbotron-fluid bg-success text-center text-light">
        <div class="container ">
          <h1 class="display-4 h5">Idealizadores do projeto ReciclaMente</h1>
          <p class="lead">Um pouco sobre nós...</p>
        </div>
    </div>
      <!--final-->
      <!--cards inicio-->

      <div class="container mb-5">
        <h2 class="font-weight-bold mb-2 text-success">Nossa equipe</h2>
        <!--p class="font-italic text-muted mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p-->

        <div class="row mt-2 mb-2 p10">
            <div class="col-lg-3 col-md-3 mb-2  mb-lg-0">
                <!-- Card-->
                <div class="card shadow-sm border-0 rounded">
                    <div class="card-body p-0"><img  src="https://i.imgur.com/HWwz5Xz.jpg" alt="" class="w-100 card-img-top">
                        <div class="p-4">
                            <h5 class="mb-0 text-success">Elaine Paiva</h5>
                            <p class="small text-muted">Sou uma pessoa curiosa e persistente, procuro sempre manter um aprendizado contínuo o que traz a necessidade de elaborar diferentes formas de pensamentos e soluções. Sou organizada e gosto de investir em planos de ação, nesses processos gosto de envolver as pessoas para ampliar a visão sobre as questões pessoais e profissionais.
                                Apesar de eu ser uma pessoa tímida eu procuro encarar os desafios como oportunidades de crescimento e constante aprendizado.
                                Estou segura que vou conquistar novos desafios em especial depois de minha formação como Developer Full Stack Java Jr feita na Generation Brasil.</p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                <!-- Card-->
                <div class="card shadow-sm border-0 rounded">
                    <div class="card-body p-0"><img src="https://imgur.com/kvXR7BS.jpg" alt="" class="w-100 card-img-top">
                        <div class="p-4">
                            <h5 class="mb-0 text-success">Gabriela Pereira</h5>
                            <p class="small text-muted">Amo a tecnologia e a natureza, e tudo que envolve ambos me faz brilhar os olhos. Acredito também que formam uma ótima junção, e a minha curiosidade e vontade de aprender coisas novas, me fazem cada vez mais procurar aprimorar minhas habilidades e competências em torno daquilo que eu mais gosto, para que eu possa fazer acontecer tudo o que eu imaginar, e ainda assim, contribuir por uma tecnologia mais acessível e inclusiva..</p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                <!-- Card-->
                <div class="card shadow-sm border-0 rounded">
                    <div class="card-body p-0"><img src="https://i.imgur.com/kdiLUv3.jpg" alt="" class="w-100 card-img-top">
                        <div class="p-4">
                            <h5 class="mb-0 text-success">Matheus Bello</h5>
                            <p class="small text-muted">
                                Amante de tecnologia, games e animações, o que facilita nosso dia a dia e nos traz aprendizado através disso me fascina. Me aperfeiçoando a cada oportunidade na área de desenvolvimento para poder atuar com front-end ou back-end. Com experiências passadas que me ajudam a ter uma melhor organização e gestão dos meus projetos, planos e ações.</p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                <!-- Card-->
                <div class="card shadow-sm border-0 rounded">
                    <div class="card-body p-0"><img src="https://i.imgur.com/b8nNhHQ.jpg" alt="" class="w-100 card-img-top">
                        <div class="p-4">
                            <h5 class="mb-0 text-success">Matheus Bezerra</h5>
                            <p class=" small text-muted ">Sou uma pessoa curiosa quando o assunto é tecnologia. Conhecer ferramentas e tecnologias novas me deixa sempre muito entusiasmado.
                                Meu primeiro contato com desenvolvimento foi cursando programação Java. E desde então, sigo me apaixonando cada vez mais por desenvolvimento.
                                Quero transformar a vida das pessoas por meio da tecnologia, conectando pessoas e buscando meios de tornar o dia a dia mais acessível, sendo simples e criativo.
                                Essa é a forma que encontrei de fazer a diferença !</p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                <!-- Card-->
                <div class="card shadow-sm border-0 rounded">
                    <div class="card-body p-0"><img src="https://i.imgur.com/ET2snRH.jpg" alt="" class="w-100 card-img-top">
                        <div class="p-4">
                            <h5 class="mb-0 text-success">Yuri Santiago</h5>
                            <p class=" small text-muted">Aficionado por filosofia, tecnologia, musica, games e series, acredito que toda forma de conhecimento é bem vinda, mas foi na tecnologia que encontrei um caminho para canalizar
                                toda a minha criatividade e tentar fazer alguma diferença na realidade à minha volta.
                                
                                
                                </p>

                        </div>
                    </div>
                </div>
            </div>








      </div>




    </div>










