<div class="container w-100">
    <div class="row   mt-5">
        <div class="col-md-12">
            <h1 class="texto text-center text-success ">Sobre nós</h1>
        </div>

        

    </div>

    <div class="row mt-4 w-100 mb-4">

        <div class="col-md-12">
            
            <p class="justify texto text-success f1" >
                A ReciclaMente é um projeto sem fins lucrativos que  foi criado com o intuito de reunir pessoas preocupadas em preservar a natureza e ser sustentável. O meio ambiente é constantemente impactado negativamente, mas juntos podemos transformar num aspecto positivo com conscientização em relação aos usos, consumo e descarte de produtos. Além de mostrar a população como é importante cuidar do meio que vivemos, pois só assim conseguiremos preservar nossos rios, matas e recursos naturais.
                O maior causador destes malefícios ao meio ambiente é o próprio ser humano. Descartando produtos nocivos no meio ambiente em locais inadequados e de forma incorreta, práticas e hábitos cotidianos que possuem, causando de forma encadeada um efeito prejudicial a todos os seres vivos.
                Nossa motivação é fazer com que os usuários desta rede social conscientizem mais pessoas a serem responsáveis ambientalmente e desenvolva o pensamento sustentável e torne isso como prática do seu dia a dia.
                


            </p>
        </div>

    
        
    </div>
</div>
    <div class="parallax"></div>

    <!--jumotron inicio-->
    <div class="jumbotron jumbotron-fluid bg-success">
        <div class="container">
          <h1 class="display-4">Idealizadores do projeto ReciclaMente</h1>
          <p class="lead">Um pouco sobre nós e o nosso trabalho</p>
        </div>
      </div>
      <!--final-->
      <!--cards inicio-->
      <div class=" container p-5 pr">

        <div class="card-group ">
            <div class="card ">
              <img class="card-img-top" src="" alt="Imagem de capa do card">
              <div class="card-body">
                <h5 class="card-title p-1">Título do card</h5>
                <p class="card-text">texto do card </p>
                <!--p class="card-text"><small class="text-muted">Atualizados 3 minutos atrás</small></p-->
              </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="" alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Título do card</h5>
                    <p class="card-text">texto do card</p>
                </div>
            </div>




              
              
            
            <div class="card">
              <img class="card-img-top" src="" alt="Imagem de capa do card">
              <div class="card-body">
                <h5 class="card-title">Τitulo do card</h5>
                <p class="card-text">texto do card</p>
                
              </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="" alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Τítulo do card</h5>
                    <p class="card-text">texto do card</p>





                </div>






            </div>

            <div class="card">
                <img class="card-img-top" src="" alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Τítulo do card</h5>
                    <p class="card-text">texto do card</p>






                </div>





            </div>





            
            
        </div>

      

    <!--div class="row mt-5 mb-5  w-100">
        <div class="md-12 w-100 d-flex justify-content-center">
            <button class=" btn btn-outline-dark font-weight-bold texto">Ver o feed</button>
        </div>


    </div-->
