* {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.bg-footer {
  background-color: #0ab68b;
}

.bg-footer2 {
  background-color: #028174;
  font-size: 12px;
}

.logoImg {
  width: 48px;
  height: 48px;
}

ul {
  list-style: none;
  padding: 0;
}

h2,
h4 {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  color: #76E27C;
}

