<!-- Footer -->
<div class="page-footer font-small bg-footer pb-4 pt-4 w-100 text-white">
  
  <!-- Elementos Footer -->
  <div class="container">
    <div class="row w-100 d-flex">
      <div class="col-md-4 w-100 d-flex">
        <img class="logoImg" src="https://i.imgur.com/Dfpw7OV.png" alt="Logo ReciclaMente">
        <h2 class="ml-2">ReciclaMente</h2>
      </div>

      <div class="col-md-4 w-100 d-flex flex-column justify-content-center">
        <h4>Nossos Parceiros</h4>
        <ul>
          <li class="mb-2"><a target="_blank" href="https://www.terracycle.com/pt-BR/">
            <fa-icon [icon]="faGlobeAmericas" class="mr-2"></fa-icon>TerraCycle</a>
          </li>
          <li><a target="_blank" href="https://www.vgresiduos.com.br/blog/conheca-projetos-relevantes-de-coleta-seletiva/">
            <fa-icon [icon]="faRecycle" class="mr-2"></fa-icon>VG Resíduos</a>
          </li>
        </ul>
        
      </div>

      <div class="col-md-4 w-100 d-flex flex-column">
        <h4 class="">Quem somos</h4>
        <ul>
          <li><a routerLink="/sobre-nos">
            <fa-icon [icon]="faUsers" class="mr-2"></fa-icon>Sobre Nós</a>
          </li>
        </ul>
      </div>
      
    </div>
  </div>
<!-- /Elementos Footer -->

</div>
<!-- /Footer -->

<!-- Footer CopyRight -->
<div class="page-footer font-small bg-footer2 py-2 w-100 text-white">
  <div class="container">
    <div class="row w-100">
      <div class="col-md-8">
        © ReciclaMente, Generation.org
      </div>
      <div class="col-md-4">
        <a href="mailto:faleconosco@reciclamente.org">
          <fa-icon [icon]="faEnvelope" class="mr-2"></fa-icon>faleconosco@reciclamente.org
        </a>
      </div>
    </div>
  </div>
</div>