.card-footer {
    background-color: white !important;
}

.card {
    border-radius: 20px !important;

}

.texto {
    font-family: 'Space Mono', monospace !important;

}

.texto2 {
    color:gray;
}

.drop-feed {
    /* background-color: #ffffff !important; */
    color: black !important;
}


.btn-outline-dark:hover {
    background-color: white !important;
    color: black !important;
}

.btn-outline-dark {
    border-color: gray !important;
}

.form-control { 
    border-color: gray !important;
}

/*Perfi Lateral*/
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

/*H5*/
.titulo-pl {
  font-family: 'Space Mono', 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 24px;

  font-weight: bold;
  color: #ffffff;
}

.titulo-nome {
  font-family: 'Space Mono', 'Roboto', Arial, Helvetica, sans-serif;
}

.label-pl {
  font-weight: bold;
  color: #ffffff;
}

.borderInput {
  border: 1px solid  #76E27C;
}

.bgModal {
  background: rgba(2, 129, 116, .8);
}

.bgModal2 {
  background: rgba(2, 129, 116, .1);
  border: none;
}

.form-control {
    border: 1px solid #76E27C;
}

.btn-pl {

    background-color: #22C401;
    color: #ffffff;
   
    font-weight: bold;
} 

/*btn UserConfig*/
.btn-pl-user {
  background-color: #a3f1a3;
  border-style: none !important;
  color: #ffffff;
}


.btn-pl-user:hover {
  background-color: #a3f1a3;

}
/*/Btn UserConfig*/

/*Btn Tema e Postagem do Modal*/

.btn-pl-nova {
  width:150px; 
  padding: 2px;

  background-color: #ffffff;
  color: #47b347;
  border-style: none;
  font-weight: bold;

}

.btn-pl-nova:hover {
  background-color: #a3f1a3;
  color: white;
}

/*/ Btn Tema e Postagem do Modal*/
.borda-pl {
  background-color: #a3f1a3;
  width: 100%;
  
  padding-top: 20px;
  border-radius: 50px;
}

.imgAvatar {
  width: 130px;
  height: 150px;
  margin-bottom: -40px !important;
}

.border-bottom {
  border-color: #a3f1a3 !important;
  border-width: 2px !important;
}

.btn-lupa:hover {
  color: #47b347 !important;
 
}

.bl {
  border-left-style: none !important;
}

.br {
  border-right-style: none !important;
}