.card-footer {
    background-color: white !important;
}

.card {
    border-radius: 20px !important;

}

.texto {
    font-family: 'Space Mono', monospace !important;

}

.texto2 {
    color:gray;
}

