<div class="container-fluid">
  <div class="container">
    <div class="row">
      <!-- Perfil Lateral -->
      <div class="cold-md-4">
        <app-perfil-lateral></app-perfil-lateral>
      </div>
      <!-- /Perfil Lateral -->

      <!-- Feed de Cards -->
      <div class="col-md-8">
        <div class="card p-2">
          <div class="text-right">
            
            
              <button class="btn btn-outline-dark border-0 " type="button" id="button-addon2">
                <fa-icon [icon]="faDumpster" class="faDumpster"></fa-icon>
              </button>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-12 d-flex justify-content-start">
                <h4>Tema</h4>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 d-flex justify-content-start">
                <h5>Categoria</h5>
              </div>
              <div class="col-md-6 align-self-end">
                <h5 class="text-right " >Estado</h5>
              </div>
            </div>
              
            
            <hr>

            <div class="row mb-1">
              <div class="col-md-6 d-flex justify-content-start">
                <h5>Link Externo </h5>
              </div>

              <div class="col-md-6 d-flex justify-content-end">
                <h5>Link Imagem </h5>
              </div>
            </div>
            <div class="row mb-1">
              <div class="col-md-12 d-flex justify-content-start">
                <h5>Postagem</h5>
              </div>
            </div>

            <div class="border rounded ">
            <p class="card-text p-2">
             Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi dolorum distinctio itaque, iste officia autem, mollitia, repellendus earum temporibus ut eum sunt consequuntur quibusdam! Ab labore explicabo molestias. Obcaecati, totam.
             Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, quasi accusantium nobis cupiditate architecto sint inventore id atque ipsum expedita libero, amet repellendus minus iusto voluptatum explicabo neque modi! Aspernatur.
            </p>
          </div>
          </div>
          <div class="card-footer text-muted">
            <div class="row">
              <div class="col-md-6 d-flex justify-content-start">
                <p class="align-middle">Post em</p>
              </div>
              <div class="col-md-6 d-flex justify-content-end">
                <button type="button" class="btn btn-danger rounded-circle" data-toggle="button" aria-pressed="false" autocomplete="off">
                  <fa-icon [icon]="faGratipay" class="faGratipay"></fa-icon>
                </button>

                
              </div>
            </div>
          </div>
        </div>
      </div>


      
      <!-- /Fedd de Cards -->
    </div>
  </div>
</div>
