.card-footer {
    background-color: white !important;
}

.card {
    border-radius: 20px !important; 
    
}

.texto {
    font-family: 'Space Mono', monospace !important;

}

.texto2 {
    color:gray;
}






.drop-feed {
    /* background-color: #ffffff !important; */
    color: black !important;
}


.btn-outline-dark:hover {
    background-color: white !important;
    color: black !important;
}

.btn-outline-dark {
    border-color: gray !important;
}

.form-control {
    border-color: gray !important;
}
