.logo-nav {
  width: 40px;
  height: 40px;
}

.texto {
  font-family: 'Space Mono';
  font-weight: bold;
  letter-spacing: 4px;
  transition: .5s;
}

.texto:hover {
  color: #76E27C !important;
  transform: scale(1.5);
  text-shadow: 2px 2px #0ab68b;
}


.drop-feed {
    color: black !important;
}

a {
  cursor: pointer;
}
